<div class="container">
		
		<div class="row tradingPairs"  ng-repeat="(key, value) in ticker">
				
			<div class="col-md-8 max">
				<p class=""> 
					<strong>{{key}}</strong> &ensp;
					<strong>Avg:</strong> {{value.avg}} 	<strong>Buy:</strong> {{value.buy}} 
					<strong>High:</strong> {{value.high}} <strong>Last:</strong> {{value.last}}
					<strong>Low:</strong> {{value.low}} <strong>sell:</strong> {{value.sell}}
					<span ng-show="item.vol_bqc"><strong>Volume BQC:</strong> {{value.vol_bqc}}</span> 
					<span ng-show="item.vol_cny"><strong>Volume CNY:</strong> {{value.vol_cny}}</span>
				</p>
				
			</div>

		</div>	

</div>	