<div class="container">
	<div class="row">
		<div class="text-center">
			<div class="btn-group  marketBtns">
				 
				    <button type="button" class="btn btn-md btn-info" ng-click="coinSeter('cny')">CNY Markets</button>
				  
				 
				    <button type="button" class="btn btn-md  btn-info active" ng-click="coinSeter('btc')">BTC Markets</button>
				 
				    <button type="button" class="btn btn-md  btn-info" ng-click="coinSeter('ltc')">LTC Markets</button>
				  
				    <button type="button" class="btn btn-md  btn-info" ng-click="coinSeter('new')">New Coin Markets</button>
				 
		    </div>
		</div> 
	</div> <!-- row	 -->	
	

		<div class="row tradingPairs"  ng-repeat="(key, value) in marketArray">
		  <a href="line/{{key}}">	
			<div class="col-md-10 max col-md-offset-1">
				<p class=""> 
					<img ng-src="{{imgName(key)}}" height="30px" alt="">
					<strong>{{key}}</strong> &ensp;
					<strong>Avg:</strong> {{value.avg}} 	<strong>Buy:</strong> {{value.buy}} 
					<strong>High:</strong> {{value.high}} <strong>Last:</strong> {{value.last}}
					<strong>Low:</strong> {{value.low}} <strong>sell:</strong> {{value.sell}}
					<span ng-show="item.vol_bqc"><strong>Volume BQC:</strong> {{value.vol_bqc}}</span> 
					<span ng-show="item.vol_cny"><strong>Volume CNY:</strong> {{value.vol_cny}}</span>
				</p>
			</div>
		  </a>	
		</div>	
</div>	